.entirety{
    font-size: 200%;
}


h1{
    margin-top: 20px;
    font-size: 200%;
    text-align: center;
}

.centerimg{
    margin: 0;
    padding: 0;
}

.sizeimg{
    width: 100%;
    height: auto;
    display: block;
}

p{
    margin-left: 15px;
}

.tatehaba{
    margin-bottom: 5px;
}

ul{
    margin-top: -10px;
    margin-left: 15px;
}

.inlist1{
    list-style-type: square;
    margin-top: 15px;
}
.inlist2{
    margin-top: 15px;
    list-style-type: square;
}

.dashi{
    list-style-type: circle;
}

.inlist1::marker{
    color: orange;
}

.inlist2::marker{
    color: blue;
}

.accordion-font{
    
    text-align: center;
}




