.entirety{
    font-size: 200%;
}

h1{
    margin-top: 20px;
    font-size: 200%;
    text-align: center;
}

h2{
    margin-top: 20px;
    font-size: 105%;
    text-align: center;
}

.centerimg{
    margin: 0;
    padding: 0;
}

.sizeimg{
    width: 100%;
    height: auto;
    display: block;
}

p{
    margin-left: 15px;
}

.tatehaba{
    margin-bottom: 5px;
}

ul{
    margin-top: -10px;
    margin-left: 15px;
}

.inlist1{
    list-style-type: square;
    margin-top: 15px;
}
.inlist2{
    margin-top: 15px;
    list-style-type: square;
}

.dashi{
    list-style-type: circle;
}

.inlist1::marker{
    color: orange;
}

.inlist2::marker{
    color: blue;
}

.accordion-font{
    text-align: center;
}

.youtube_wrap{
    padding-top: 56.25%;
    width: 100%;
    position: relative;
}

.youtube_wrap iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.textBox {
    border: 2px solid darkorange;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    }
    
.textBox::before {
    background-color: #fff;
    color: darkorange;
    content: "POINT";
    
    font-weight: bold;
    left: 30px;
    padding: 3px 10px;
    position: absolute;
    top: -30px;
}

.cooking_text{
        font-size: 120%;
}

