.text-color-1{
    color:rgb(#F3EEEA)
}
.text-color-2{
    color:rgb(#EBE3D5)
}
.text-color-3{
    color:rgb(#B0A695)
}
.text-color-4{
    color:rgb(#776B5D)
}
.bg-color-1{
    background-color:rgb(#F3EEEA)
}
.bg-color-2{
    background-color:rgb(#EBE3D5)
}
.bg-color-3{
    background-color:rgb(#B0A695)
}
.bg-color-4{
    background-color:rgb(#776B5D)
}

/* {{ asset(index.css) }}*/